@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: Poppins, system-ui;
}

.hero{
    background: url(../Background.png);
    background-color: #D9D9D9;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    width: 80%;
    height: 70%;

    display: flex;
    flex-direction: column;

    justify-content: space-around;
    background-color: white;
    border-radius: 6px;

}

#n {
    font-size: 1vmax;
    border: 1px solid #dfdfdf;
    padding: 3vh;
    background-color: #f3f8ff;
    color: #212121;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #d6d6d6;

    width: 60%;
    height: 10%;
}

#n:focus {
    outline: none !important;
    border: 3px solid #1573fe;
}

#n::placeholder {
    color: #dfdfdf;
}

h2 {
    color: #0b0e90;
    font-weight: bold;
    font-size: 2vmax;

    /* border: 1px solid red; */

}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

#bt {
    width: 10vw;
    font-size: 17px;

    color: white;
    font-weight: 500;

    background-color: #0b0e90;
    cursor: pointer;
    border: none;
    border-radius: 5px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    padding: 1vmax;
}

.heading {
    text-align: center;
    /* margin: 3vmax; */
}

.new {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bt:hover {
    background-color: #050776;
}

@media screen and (max-width: 600px) {
    .container {
        height: 100vh;
        width: 100%;
    }

    #n {
        font-size: 2vh;
    }

    h2 {
        /* margin-bottom: 160px; */
        font-size: 3vh;
    }

    #bt {
        width: 150px;
        margin-top: 50px;
    }
}
