/* NAVBAR */

.navbar{
  
    display: flex;
}

/* LOGO */
.logo img{
    width: 150px;
    

}
.name{
    margin: 30px 0px 0px 0px;
    color: rgb(67, 61, 146);
}

.Info{
    border: 2px solid rgb(253, 253, 253);
    margin: 100px 3px 0px 250px;
    display: block;
    flex-direction: column;
    width: 70%;
    border-radius: 15px;
    box-shadow:20px 20px 50px grey;
    height: 350px;
    
   
   
    
}

.bill{
    color: red;
    text-align: center;
}

.detail{
    margin: 18px;
    padding: 6px;
}

.QR{
    display: flex;
    justify-content: space-between;
}

.QR img{
    height: 300px;
    width: 300px;
    margin: 32px 54px 0px 0px;
    box-shadow: 20px 20px 50px grey;
}

.QR h4{
    font-size: 1.8rem;
    margin: auto;

    
    

}

@media screen and (max-width:600px){
    .Info{
        border: 2px solid rgb(253, 253, 253);
        margin: 70px 3px 0px 0px;
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 15px;
        box-shadow:20px 20px 50px grey;
        height: 300px;
        font-size: 0.8rem;
    }

    .QR{
        display: flex;
        justify-content: center;
        align-items: center;
       

    }

    .QR img{
        height:200px;
        width: 200px;
        margin: auto;
        box-shadow: 20px 20px 50px grey;
    }

    .QR h4{
        display: none;
    }  
    
    .name{
        margin: 30px 0px 0px 0px;
        color: rgb(67, 61, 146);
        font-size: 0.8rem;
    }
      
}


