@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Poppins;
}

#hero {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./Background.png);
    background-color: #d9d9d9;
}

#container {
    height: 80%;
    width: 60%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 1vmax;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#header {
    text-align: center;
}

#title {
    color: #0b0e90;
}

#description {
    font-weight: 400;
    font-size: 1vmax;
}

#btn {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #0b0e90;
    color: white;
    border: none;
    border-radius: 5px;

    height: 10vh;
    width: 20vw;
    cursor: pointer;
    margin: 1vw;

    font-size: 1vmax;
    padding: 1vmax;
    margin: 1vmax;
}

#btn:hover {
    background-color: #050776;
}

.input {
    width: 10vw;
    height: 8vh;
    border: 1px solid black;
    background: #f3f8ff;
    border: 1px solid #d9d9d9;
    border-radius: 8px;


    border: 3px solid #d9d9d9;
    font-size: 1vmax;
}

/* hide arrows from input  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input:focus{
    border: 3px solid #1573fe;
    outline: none !important;
}

#codeContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input {
    margin: 1vw;
    padding: 1vmin;
    text-align: center;
    font-weight: bolder;
}

#resend {
    font-size: 1vmax;
    color: #0b0e90;
    text-decoration: none;
}

#resend:hover {
    color: #050776;
}

/* tablet modes */
@media only screen and (max-width: 1024px) {
    #container {
        height: 70%;
        width: 90%;
    }

    .input {
        width: 15vw;
    }

    #btn {
        height: 7vh;
    }
    #title {
        font-size: 5vmax;
    }

    #description ,#btn, #resend,.input{
        font-size: 2vmax;
    }
}

/* mobile phones */
@media only screen and (max-width: 500px) {
    #container {
        height: 100vh;
        width: 100%;
        padding: 3vmax;
    }

    #btn{
        width: 35vw;
    }

    .input{
        width: 20vw;
        height: 60px;
    }
}
