/*  hero page height & width */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#heropage{
    height: 100vh;
    width: 100%;
}

/* header items */
#header{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    color: #0B0E90;
    padding: 50px;
}

.user{
    display: none;
}

/* buttons */
#wave{
    animation: wiggle 1s infinite;
    /* animation-iteration-count: infinite; */
    display: inline-block;
}
@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

#export{
    padding: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #EFEAE6;
    border: none;
    border-radius: 5px;
    
}

#fillform{
    padding: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #0B0E90;
    color: whitesmoke;
    border: none;
    border-radius: 5px;

}

#stddetails{
    border: 1px solid #CCCCCC;
    padding: 50px;
    margin-left: 44px;
    margin-right: 44px;
    /* font-weight:bold; */
    display: flex;
    justify-content: space-between;    
}


#firsthalf{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    height: 25vh;
}

.secondhalf{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    height: 25vh;   
    justify-content: space-between;
}

.s{
    margin: 1vh;
}

.duepayment{
    color: red;
    /* border: 2px solid blue; */
}
#internaldiv{
    display: flex;
    flex-direction: column;
}
#subdetails{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}
/* Table div tags */

#backsubdetails{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.subtable{
    border-spacing: 0px;
}
#footer{
    /* border: 1px solid red; */
    text-align: center;
    padding: 25px;
    background-color: #EFEAE6;
}
/* Table headings */
.subHead{
    Color: #0B0E90;
    
}


.head{
    background-color: #EFEAE6;
    padding: 1vh;
}

tr{
    text-align: center;
}

.barrier{
    border: 1px solid #DA1E28;
    color: #DA1E28;
    border-radius: 50px;
    background-color:#FFE5E7;
}

.notbarrier{
    border: 1px solid #2AD000;
    color: #2AD000;
    border-radius: 50px;
    background-color:#F1FFE5;
}

/* Footer Button  */

#btn{
    display: none;
}


/* Responsive */

@media  screen and (max-width:600px) {
    *{
        margin: 0px;
        padding: 0px;
    }


    #welcome{
        font-size: 1.0 rem;
    }



    #footer h2,#buttons,.intro,#welcome{
       display:none;

    }

    #btn{
        display: block;
    }

    #firsthalf,.secondhalf{
    
        font-size: 0.6rem;
        margin-bottom: 140px;
    

    }

    img{
        height: 80px;
        width: 80px;
        margin-left: 10px; 
    }

    #stddetails{
        width: 100%;
        height: 40%;
        margin-left: 0px;
    
        
        
    }

    .user{
        display: block;
        margin: auto;
    }

    /* Table Display  */

    table tr>th:nth-of-type(3),   table tr>td:nth-of-type(3){
        display: none;
    }
    table tr>th:nth-of-type(4),   table tr>td:nth-of-type(4){
        display: none;
    }
    table tr>th:nth-of-type(5),   table tr>td:nth-of-type(5){
        display: none;
    }
    table tr>th:nth-of-type(6),   table tr>td:nth-of-type(6){
        display: none;
    }
    table tr>th:nth-of-type(7),   table tr>td:nth-of-type(7){
        display: none;
    }

    #backsubdetails,#subdetails{
        display: flex;
        align-items: center;   
    }

    #footer{
        width: 100%;
    }

    .subtable{
        border: 1px solid rgba(228, 213, 213, 0.5);
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        width: 100%;
        margin-right:40px;
        
    }
    
}

