/*  hero page height & width */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

#heropage {
    height: 100vh;
    width: 100%;
}

/* header items */
#header {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2vmax;
    color: #0b0e90;
    padding: 2vmax;
}

.user {
    display: none;
}

/* buttons */
#wave {
    animation: wiggle 1s infinite;
    /* animation-iteration-count: infinite; */
    display: inline-block;
}
@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(0deg);
    }
    85% {
        transform: rotate(5deg);
    }
    95% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#export {
    padding: 1vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #efeae6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1vw;
}

#export:hover{
    background-color: #d6d2cf;
    
}

#fillform {
    padding: 1vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #0b0e90;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1vw;
}

#fillform:hover{
    background-color: #040439;
}

#stddetails {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 1vw;
    display: flex;
    justify-content: space-between;
    margin: 1vw;
}

#firsthalf {
    display: flex;
    flex-direction: column;
    /* height: 25vh; */
}

.secondhalf {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    height: 25vh;
    justify-content: space-between;
}

.s {
    margin: 1vh;
}

.subtable{
    /* border: 1px solid black; */
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.duepayment {
    color: red;
    /* border: 2px solid blue; */
}

#internaldiv {
    display: flex;
    flex-direction: column;
}
#subdetails {
    /* border: 1px solid red; */
        /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    margin: 1vh;
}
/* Table div tags */

#backsubdetails {
    display: flex;
    flex-direction: column;
    margin: 1vw;
}

.subtable {
    border-spacing: 0px;
}

#footer {
    /* border: 1px solid red; */
    text-align: center;
    padding: 1vw;
    background-color: #efeae6;
    font-size: 1vw;
}

/* Table headings */
.subHead {
    color: #0b0e90;
}

.head {
    background-color: #efeae6;
    padding: 1vh;
}

tr {
    text-align: center;
}

.barrier {
    border: 1px solid #da1e28;
    color: #da1e28;
    /* border-radius: 6px; */
    background-color: #ffe5e7;
}

.notbarrier {
    border: 1px solid #2ad000;
    color: #2ad000;
    /* border-radius: 6px; */
    background-color: #f1ffe5;
}

/* Footer Button  */
#btn {
    display: none;
}

/* Responsive */
#subdetails,#backsubdetails{
    font-size: 1vw;
}

th,td{
    border: 1px solid #cccccc;
}

@media screen and (max-width: 600px) {
    * {
        margin: 0px;
        padding: 0px;
    }

    #welcome {
        font-size: 1 rem;
    }

    #footer h2,
    #buttons,
    .intro,
    #welcome {
        display: none;
    }

    #btn {
        display: block;
    }

    #firsthalf,
    .secondhalf {
        font-size: 0.6rem;
    }

    img {
        height: 80px;
        width: 80px;
        margin-left: 10px;
    }

    #stddetails {
        border: 1px solid #cccccc;
        width: 100%;
        height: 28%;
    }

    .user {
        display: block;
        margin: auto;
    }

    /* Table Display  */

    table tr > th:nth-of-type(3),
    table tr > td:nth-of-type(3) {
        display: none;
    }
    table tr > th:nth-of-type(4),
    table tr > td:nth-of-type(4) {
        display: none;
    }
    table tr > th:nth-of-type(5),
    table tr > td:nth-of-type(5) {
        display: none;
    }
    table tr > th:nth-of-type(6),
    table tr > td:nth-of-type(6) {
        display: none;
    }
    table tr > th:nth-of-type(7),
    table tr > td:nth-of-type(7) {
        display: none;
    }

    #backsubdetails,
    #subdetails {
        display: flex;
        align-items: center;
        height: 45vw;
        margin: 2.5vw;
    }

    #footer {
        width: 100%;
    }

    .subtable {
        border: 1px solid rgba(228, 213, 213, 0.5);
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        width: 100%;
        /* margin-right: 40px; */
        margin: 2.5vw;
    }

    #firsthalf {
        height: 280px;
        margin-left: 0px;
    }

    #subdetails,#backsubdetails{
    font-size: 1.5vh;
    }

}