/* font name:manrope */
@import url('http://fonts.cdnfonts.com/css/manrope');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Manrope',system-ui;
}

/* complete body  */
#hero {
    /* dotted cross background on grey color */
    background: url(/images/Background.png);

    background-color: #cfcfcf;
    height: 100vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* borders for each different components */
#login-container,
#svg-container,
#article,
#section,
#button {
    border: 1px solid red;
}
